@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-color: #f0f3f5;
  color: #2b3d4f;
      -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-family: DM Sans, system-ui, sans-serif;
}
